.container {
  width: 65%;
  margin: auto;
}

.content {
  min-height: 88vh;
  min-height: 88dvh;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: var(--page-box-shadow);
  background-color: var(--white);
  font-size: 1.25rem;
}
