@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-colour: #fdfdfd;
  --primary-colour: #048178;
  --primary-colour-light: #04817880;
  --primary-colour-dark: #03635c;
  --secondary-colour: #d0451b;
  --secondary-colour-light: #d0451b80;
  --grey: #585858;
  --grey-light: #555555;
  --black: #212121;
  --white: #fff;
  --light-hover: #d161400d;
  --page-box-shadow: 0px 4px 66px 19px rgba(0, 0, 0, 0.05);
  --page-box-shadow-2: 0px 4px 66px 19px #04817826;
}

/* GLOBAL PAGE STYLES */

body {
  background-color: var(--background-colour);
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem 0 1.2rem 1rem;
  color: var(--black);
}

/* UTILS */

.rotate-initial {
  transform: rotate(0deg);
  transition: transform 0.05s ease-in;
}

.rotate-90 {
  transform: rotate(90deg);
}

/* MEDIA QUERIES */

@media screen and (min-width: 425px) {
  .page-title {
    font-size: 2rem;
  }
}
