@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-colour: #fefefe;
  --primary-colour: #048178;
  --primary-colour-light: #04817880;
  --secondary-colour: #d0451b;
  --secondary-colour-light: #d0451b80;
  --grey: #727272;
  --grey-light: #555555;
  --black: #000;
  --white: #fff;
  --page-box-shadow: 0px 4px 66px 19px rgba(0,0,0,0.05);
}

body {
  background-color: var(--background-colour);
}

.site-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-colour);
  padding: 1.2rem 0 0 1.2rem;
}

.page-title {
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2rem;
  color: var(--black);
}

.dashboard-container {
  height: 100vh;
  height: 100dvh;
  width: 15%;
  position: fixed;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

.nav-link {
  font-size: 1.5rem;
  padding: 1.2rem 0 0 1.2rem;
}

header {
  width: 84%;
  margin-left: auto;
}

.header-left {
  font-size: 2rem;
}

.header-right {
}

.page-container {
  width: 65%;
  margin: auto;
}

.page-content {
  padding: 0 1.2rem;
  box-shadow: var(--page-box-shadow);
  border-radius: 6px;
  background-color: var(--white);
}

/* UTILS */

.grey-text {
  color: var(--grey);
}

.black-text {
  color: var(--black);
}
