.container {
  display: grid;
  place-items: center;
  margin: 1rem 0.5rem 0px;
  gap: 1rem;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  background-color: none;
  transition: background-color 0.15s;
}

.container:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.icon {
  height: 1.2rem;
  width: 1.2rem;
  color: var(--grey);
}

.label {
  font-size: 1.2rem;
}

.active {
  background-color: #0b714c1f;
}
