.icon {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  margin: 1rem 0.5rem 0px;
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
  z-index: 2;
  background-color: none;
  transition: background-color 0.15s;
}

.icon svg {
  height: 1.2rem;
  width: 1.2rem;
  color: var(--primary-colour);
}

.icon:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.icon svg:hover {
  color: var(--primary-colour-dark);
}

.sideBar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0 8px 8px 0;
  box-shadow: var(--page-box-shadow);
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem;
  background-color: var(--white);
}
