.icon {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  color: var(--primary-colour);
  font-size: 1.2rem;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
}

.icon:hover {
  color: var(--primary-colour-dark);
  background-color: var(--white);
}

.sideBar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0 8px 8px 0;
  box-shadow: var(--page-shadow);
  display: flex;
  flex-direction: column;
  margin-top: 3.4rem;
}
