.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1.2rem 2fr 1fr 1.2rem;
  border-radius: 4px;
  height: 3.5rem;
  position: relative;
}

.container:hover {
  background-color: var(--light-hover);
}

.icon {
  color: var(--secondary-colour-light);
  display: grid;
  place-items: center;
}

.icon svg {
  width: 1rem;
}

.title {
  font-size: 1.25rem;
  padding-left: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title:hover {
  cursor: pointer;
}

.date {
  color: var(--grey);
}

.options {
  color: var(--grey);
  display: grid;
  place-items: center;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.options:hover {
  cursor: pointer;
  color: var(--black);
  background-color: #e2e2e2;
}

.options svg {
  height: 1rem;
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 425px) {
  .date {
    display: none;
  }

  .container {
    grid-template-columns: 1.2rem 1fr 1.2rem;
  }
}
