.container {
  display: grid;
  align-items: center;
  grid-template-columns: 3% 57% 37% 3%;
  border-radius: 8px;
  height: 3.5rem;
}

.container:hover {
  background-color: #d0451b0d;
}

.icon {
  color: var(--secondary-colour-light);
  display: grid;
  place-items: center;
}

.icon svg {
  width: 1rem;
}

.title {
  font-size: 1.25rem;
  padding-left: 0.75rem;
}

.title:hover {
  cursor: pointer;
}

.date {
  color: var(--grey);
}

.options {
  color: var(--grey);
  display: grid;
  place-items: center;
}

.options:hover {
  cursor: pointer;
  color: var(--black);
}

.options svg {
  height: 1rem;
}
