.container {
  position: absolute;
  top: 3.2rem;
  right: -3rem;
  border: 1px solid var(--grey);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: var(--white);
  z-index: 2;
  box-shadow: var(--page-box-shadow);
}

.tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: var(--grey);
}

.tool:hover {
  color: var(--black);
  cursor: pointer;
}

.icon {
  width: 1rem;
}
