.container {
  width: calc(100% - 2.4rem);
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  height: 3.5rem;
  border-bottom: 1px solid #00000020;
}

.addNew {
  display: grid;
  grid-template-columns: 1.2rem 1fr;
}

.icon {
  color: var(--grey);
  display: grid;
  place-items: center;
}

.icon svg {
  width: 1rem;
}

.text {
  font-size: 1.25rem;
  padding-left: 0.75rem;
  color: var(--grey);
}

.filter {
  color: var(--grey);
  padding-left: 1.75rem;
  cursor: pointer;
}

.filter:hover {
  color: var(--black);
}

.filter svg {
  width: 1rem;
}

.addNew:hover {
  cursor: pointer;
}

.addNew:hover .text {
  color: var(--primary-colour-dark);
}

.addNew:hover .icon {
  color: var(--primary-colour-dark);
}

@media screen and (max-width: 640px) {
  .text {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 425px) {
  .filter {
    display: none;
  }

  .container {
    grid-template-columns: 100%;
  }
}
