.container {
  display: grid;
  align-items: center;
  grid-template-columns: 60% 40%;
  height: 3.5rem;
  border-bottom: 1px solid #00000020;
}

.addNew {
  display: grid;
  grid-template-columns: 5% 95%;
}

.icon {
  color: var(--grey);
  display: grid;
  place-items: center;
}

.icon svg {
  width: 1rem;
}

.text {
  font-size: 1.25rem;
  padding-left: 0.75rem;
  color: var(--grey);
}

.filter {
  color: var(--grey);
  padding-left: 1.4rem;
  cursor: pointer;
}

.filter:hover {
  color: var(--black);
}

.filter svg {
  width: 1rem;
}

.addNew:hover {
  cursor: pointer;
}

.addNew:hover .text {
  color: var(--primary-colour-dark);
}

.addNew:hover .icon {
  color: var(--primary-colour-dark);
}
