@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-colour: #048178;
  --primary-colour-light: #04817880;
  --secondary-colour: #D0451B;
  --secondary-colour-light: #D0451B80;
  --grey: #787878;
  --black: #000;
}

.site-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: var(--primary-colour);
  border-bottom: 1px solid var(--primary-colour-light);
  padding: 1.2rem;
}

.page-title {
  font-size: 2.1rem;
  font-weight: bold;
  padding: 1.2rem;
}

.dashboard-container {
  height: 100vh;
  height: 100dvh;
  width: 15%;
  border-right: 1px solid var(--primary-colour-light);
  position: fixed;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

.nav-link {
  font-size: 1.5rem;
  padding: 1.2rem 0 0 1.2rem;
}

header {
  width: 85%;
  margin-left: auto;
  border-bottom: 1px solid var(--primary-colour-light);
}

.header-left {
  font-size: 2.1rem;
}

.header-right {
}

.page-container {
  width: 85%;
  margin-left: auto;
}

.page-content {
  padding: 1.2rem;
}

/* UTILS */

.grey-text {
  color: var(--grey);
}

.black-text {
  color: var(--black);
}
